h1 {
    text-align:center;
    font-style: oblique;
}

body {
    background-color:rgb(171, 40, 46);
}
.first {
    color:rgb(74, 20, 18);
}

.second {
    background-color:rgb(74, 20, 18);
    font-style: italic;
    color:rgb(171, 40, 46);
}

#important {
    background-color: rgb(26, 120, 115);
    color: rgb(61, 166, 158);
}